.upload {
  text-align: left;
  padding: 20px 50px;

  .upload-btn {
    position: relative;
    overflow: hidden;
  }

  .upload-input {
    position: absolute;
    left: 100%;
    top: 0%;
    opacity: 0;
  }
}
